body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  background-color: #111;
  color: black;
  overflow: hidden;
}

a {
  color: #821e00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  flex-direction: column;
  align-items: stretch;
  border-right: 2px solid black;
  box-sizing: border-box;
}
.panel-menu {
  display: flex;
  padding-top: 6px;
}
button.tab-button {
  background: #333;
  color: white;
  border: none;
  border-radius: 6px 6px 0 0;
  margin-left: 3px;
  padding: 3px 12px;
  cursor: pointer;
}
button.tab-button.active,
button.tab-button:hover {
  color: black;
  background: #ddd;
}
.panel-tabs {
  flex-grow: 1;
  background: #ddd;
  overflow: hidden;
  overflow-y: auto;
}
.panel-tabs .panel-tab {
  width: 100%;
  padding: 12px;
  display: none;
  box-sizing: border-box;
}
.panel-tabs .panel-tab.active {
  display: block;
}

#tab-results {
  padding: 6px 0;
}
#tab-results p,
#tab-results label {
  padding: 0 6px;
}
#tab-results select {
  margin: 0 6px 12px;
}
.filter-label {
  display: inline-block;
  background: #333;
  color: white;
  padding: 1px 4px;
  border-radius: 2px;
  margin-bottom: 2px;
}
.result-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.result-list li {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.result-button {
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: left;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}
.result-button:hover,
.result-button.selected,
.result-button:focus-visible {
  background: #333;
  color: white;
}

.radio-label {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: block;
}

#tab-filters label,
#tab-filters select {
  font-size: 1.2rem;
  display: block;
}
#tab-filters label {
  font-weight: bold;
}
#tab-filters select {
  margin-bottom: 1rem;
  width: 100%;
}

.viewer {
  flex-grow: 1;
  background: black;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.key {
  position: absolute;
  width: 600px;
  max-width: 87%;
  height: 30px;
  top: 12px;
  right: 12px;
  line-height: 30px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/color_key.png) no-repeat;
  background-size: 100% 100%;
  padding: 0 6px;
  white-space: nowrap;
  border: 2px solid black;
}
.key.active {
  display: flex;
  z-index: 1000;
}
#quant-key-label-left::after {
  content: ' ←';
}
#quant-key-label-right {
  color: white;
}
#quant-key-label-right::before {
  content: '→ ';
}

.reset-button {
  display: block;
  background: #111;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  position: absolute;
  top: 52px;
  right: 12px;
  z-index: 1001;
}

.meta {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: auto;
  box-sizing: border-box;
  padding: 6px;
  border: 2px solid black;
  background: #ddd;
  display: none;
}
.meta.active {
  display: block;
  z-index: 1003;
}
.meta-head {
  background: #111;
  padding: 6px;
  margin: -6px;
}
.meta.active.selected .meta-head {
  padding: 6px 6px 0 6px;
  margin: -6px -6px 12px -6px;
}
h2.meta-title {
  margin: 0 0 6px;
  font-size: 1.4rem;
  color: white;
}
.meta-menu,
.panel-tab {
  display: none;
}
.meta .panel-tab {
  max-height: 60vh;
  overflow: auto;
}
.meta.active.selected .meta-menu {
  display: block;
}
.meta.active.selected .panel-tab.active {
  display: flex;
}
.meta-details dl {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
.meta-details dd {
  font-weight: bold;
}
.close-details {
  display: block;
  position: absolute;
  top: 6px;
  right: 12px;
  background: rgb(146, 51, 0);
  color: white;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  transform-origin: center center;
  transform: rotate(180deg);
}
.close-details:hover {
  background-color: rgb(172, 60, 0);
}
.meta.active.selected .close-details {
  transform: rotate(0deg);
}

.meta-similar table {
  border-collapse: collapse;
}
.meta-similar table button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  text-align: left;
}
.meta-similar table button:hover {
  text-decoration: underline;
}
.meta-similar tr:nth-child(even) {
  background: #ccc;
}
.meta-similar td {
  border-left: 1px solid #aaa;
  padding: 2px 4px;
}
.meta-similar td:first-child {
  border-left: none;
}

#search-form {
  margin: 1rem 0 2rem;
  font-size: 1.5rem;
}
#search-form label {
  display: block;
  margin-bottom: 0.5rem;
}

#tab-info ul {
  margin: 0 0 0 1.5rem;
  padding: 0;
}
#tab-info li {
  margin: 1rem 0 0 0;
}
